$color-magenta: #F1136C;
$color-pink: rgb(255, 149, 190);
$color-black: #06050D;
$color-black-light:#302f3a;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $color-magenta;
  background: linear-gradient(270deg, $color-magenta 0%, $color-pink 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'lato';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}